@using EtnaShop.Models;
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista de Productos</h2>
        </div> 
        <div class="col-6 text-end" >
            <a asp-controller="Product" asp-action="Create" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> &nbsp;  Nuevo Producto
            </a>
        </div>
    </div>
    <br/><br/>
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr class="table-active">
                <td scope="row" width=30%>
                   <a asp-controller="Product" asp-action="Details" asp-route-id="@obj.Id" title="Detalles">@obj.Name</a>
                </td>
                <td width=50%>
                    @obj.Description
                </td>
                <td width=10%>
                    $@obj.Price
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Product" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary">
                            <i class="bi bi-pencil-square"></i>Editar
                        </a>
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">
                            <i class="bi bi-trash3-fill"></i>Borrar
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<br/>
<div class="col-12 text-end">
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary"  style="width:180px">
            Volver
        </a>
</div>
</div>
